1 Summations and Products
1. Compute the following expressions for a natural number n chosen by the user:

In [4]:
#i
#prenon n = 20
n = 20
somme = 0
produit = 1
for i in range(0,n):
    somme+=i+3
    produit*=(i+3)
print("somme = ",somme)
print("produit = ",produit)

somme =  250
produit =  562000363888803840000

2. Write a program that reads the number of the day of the week (from 0 to 6). If it is a
working day, then the program will write the name of the corresponding day. Otherwise,
it will write the word "Weekend".

In [31]:
numerojour = input("Entrer la numéro d'un jour (Les jours sont numérotés de 0 à 6): ")
numerojour = int(numerojour)
jour = ['Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi','Dimanche']
if(numerojour<0 or numerojour>6):
    print("Le numéro du jour est incorrect")
else:
    if(numerojour<=5):
        print(jour[numerojour]," est un jour ouvrable")
    else:
        print(jour[numerojour]," est un Week-end")

Entrer la numéro d'un jour (Les jours sont numérotés de 0 à 6): 7
Le numéro du jour est incorrect

In [27]:
mois = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre']
numeromois = input("Entrer le numéro d'un mois(de 0 à 11): ")
numeromois = int(numeromois)
if(numeromois<0 or numeromois>11):
    print("Le numéro du mois est incorrect")
else:
    L = [0,2,4,6,7,9,11]
    if(numeromois==1):
        print(mois[numeromois]," compte 28 jours")
    elif(numeromois in L):
        print(mois[numeromois]," compte 31 jours")
    else:
        print(mois[numeromois]," compte 30 jours")

Entrer le numéro d'un mois(de 0 à 11): 12
Le numéro du mois est incorrect

4. Write two versions of python code that displays your name 3 times. One version with a
"for loop" and another version with a "while loop".

In [36]:
prenom = "Pierre"
for i in range(3):
    print(prenom)
print("========================================")
i=0
while(i<3):
    print(prenom)
    i=i+1

Pierre
Pierre
Pierre
========================================
Pierre
Pierre
Pierre

5. Given two numbers a0 and a1, the Fibonacci sequence they generate is constructed from
the recursion formula an+1 = an + an−1. Calculate the rst 15 terms of a Fibonacci
sequence, asking the user the initial values.

In [45]:
a0 = int(input("Entrer la valeur de a0: "))
a1 = int(input("Entrer la valeur de a1: "))
if(a0 == 0 and a1 == 0):
    print("Tous les termes sont égaux à zéro")
else:
    for i in range(16):
        if(i%2==0):
            a0 = a0 + a1 
            print("Le ",i+1,"ème terme est ",a0)
        else :
            a1 = a0 + a1
            if(i!=15):
                print("Le ",i+1,"ème terme est ",a1)

Entrer la valeur de a0: 0
Entrer la valeur de a1: 1
Le  1 ème terme est  1
Le  2 ème terme est  2
Le  3 ème terme est  3
Le  4 ème terme est  5
Le  5 ème terme est  8
Le  6 ème terme est  13
Le  7 ème terme est  21
Le  8 ème terme est  34
Le  9 ème terme est  55
Le  10 ème terme est  89
Le  11 ème terme est  144
Le  12 ème terme est  233
Le  13 ème terme est  377
Le  14 ème terme est  610
Le  15 ème terme est  987

6. Compute the rst 30 terms of the sequence dened by 2xn+2 − xn+1 − 6xn = 0 sequence,
given any two initial values x0 and x1

In [49]:
x0 = int(input("Entrer la valeur de x0: "))
x1 = int(input("Entrer la valeur de x1: "))
if(x0 == 0 and x1 == 0):
    print("Tous les termes sont égaux à zéro")
else:
    for i in range(31):
        if(i%2==0):
            x0 = 1/2*(6*x0 + x1)
            print("Le ",i+1,"ème terme est ",x0)
        else :
            x1 = 1/2*(6*x0 + x1)
            if(i!=30):
                print("Le ",i+1,"ème terme est ",x1)

Entrer la valeur de x0: 0
Entrer la valeur de x1: 1
Le  1 ème terme est  0.5
Le  2 ème terme est  2.0
Le  3 ème terme est  2.5
Le  4 ème terme est  8.5
Le  5 ème terme est  11.75
Le  6 ème terme est  39.5
Le  7 ème terme est  55.0
Le  8 ème terme est  184.75
Le  9 ème terme est  257.375
Le  10 ème terme est  864.5
Le  11 ème terme est  1204.375
Le  12 ème terme est  4045.375
Le  13 ème terme est  5635.8125
Le  14 ème terme est  18930.125
Le  15 ème terme est  26372.5
Le  16 ème terme est  88582.5625
Le  17 ème terme est  123408.78125
Le  18 ème terme est  414517.625
Le  19 ème terme est  577485.15625
Le  20 ème terme est  1939714.28125
Le  21 ème terme est  2702312.609375
Le  22 ème terme est  9076794.96875
Le  23 ème terme est  12645335.3125
Le  24 ème terme est  42474403.421875
Le  25 ème terme est  59173207.6484375
Le  26 ème terme est  198756824.65625
Le  27 ème terme est  276898035.2734375
Le  28 ème terme est  930072518.1484375
Le  29 ème terme est  1295730364.8945312
Le  30 ème terme est  4352227353.7578125
Le  31 ème terme est  6063304771.5625

7. a) Write python code to determine whether or not a year is a leap year. Be sure you
know what a leap year is.

In [52]:
annee = int(input("Entrer une année: "))
if((annee-2002)%4==0):
    print(annee," est bissextile")
else:
    print(annee," n'est pas bissextile")

Entrer une année: 2021
2021  n'est pas bissextile

Write python code that computes the sum of the square of the rst n natural numbers.
One version with a "for loop" and another version with a "while loop".

In [58]:
nombre = int(input("Entrer un entier"))
carre = 0
for i in range(nombre):
    carre += i**2
print(carre)
print("=========================")
i = 0
carre = 0
while(i<nombre):
    carre += i**2
    i=i+1
print(carre)

Entrer un entier4
14
=========================
14

Write python code that prints, for a natural number M, the smallest natural number
n such that 1
2 + 22 +· · ·+n
2 ≥ M. One version with a "for loop" and another version
with a "while loop"

In [ ]:
M = int(input("Entrer un entier: "))
n=0
while(1):
    i=0
    carree = 0
    while(i<n):
        carree += i**2
        i+=1
    if(carree<M):
        i=0
        carree = 0
        while(i<n+1):
            carree += i**2
            i+=1
        if(carree>M):
            break
        else:
            n+=1
print(n)
print("============================")

Entrer un entier0